# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

name: sssd charm tests
on:
  workflow_call:
  pull_request:

jobs:
  inclusive-naming-check:
    name: Inclusive naming check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: woke
        uses: get-woke/woke-action@v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install `just`
        run: sudo snap install just --classic
      - name: Install `uv`
        run: sudo snap install astral-uv --classic
      - name: Run linters
        run: just lint

  typecheck:
    name: Static type checks
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install `just`
        run: sudo snap install just --classic
      - name: Install `uv`
        run: sudo snap install astral-uv --classic
      - name: Run static type checks
        run: just typecheck

  unit-test:
    name: Unit tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install `just`
        run: sudo snap install just --classic
      - name: Install `uv`
        run: sudo snap install astral-uv --classic
      - name: Run tests
        run: just unit

  integration-test:
    name: Integration tests (LXD)
    runs-on: ubuntu-24.04
    needs:
      - inclusive-naming-check
      - lint
      - typecheck
      - unit-test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install `just`
        run: sudo snap install just --classic
      - name: Install `uv`
        run: sudo snap install astral-uv --classic
      - name: Install `charmcraft`
        run: sudo snap install charmcraft --classic
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          juju-channel: 3.6/stable
      - name: Run tests
        run: just integration
